/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

body , html {
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

.loading_screen_div{
  position: fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  background-color: rgb(21, 20, 22);
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: bold;
  opacity: 1;
  -webkit-transition: opacity 1s ease-out;
  -o-transition: opacity 1s ease-out;
  transition: opacity 1s ease-out;
  z-index: 12;
}

.loading_screen{
  position: absolute;
  top:50%;
  left:50%;
  width:50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo{
  position: relative;
  top:0;
  left: 0;
  width: 100px;
  height: 100px;
  border: 1px solid #ffffff;
  border-radius: 10px 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.logo h1{
  margin: 0;
  padding: 0;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 4rem;
}

.loading_msg1{
  display:none;
}
.loading_msg2{
  display:none;
}
.loading_welcome{
  display:none;
}
#test_images{
  display: none;
}



.background{
  position: fixed;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  z-index: -1;
}
.bg_left{
  position: relative;
  top:0;
  left:0;
  height: 100%;
  width: 25%;
  background-color: #06D6A0;
  max-width: 375px;
}
.bg_right{
  position: relative;
  top:0;
  left:0;
  height: 100%;
  width: 75%;
}

header{
  position: relative;
  top: 0;
  left:0;
  width: 100%;
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}
@media only screen and (max-width:650px){
  header{
    background-color: #06D6A0;
    color: #ffffff;
  }
}

.social_media{
  position: relative;
  top:0;
  left:0;
  width: 25%;
  height: 100%;
  padding: 0;
  margin:0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 375px;
}
.social_media li{
  position: relative;
  top:0;
  left:0;
  width: 24px;
  margin-left: 5%;
  margin-right: 5%;
  -webkit-transition: -webkit-transform 0.25s ease-in;
  transition: -webkit-transform 0.25s ease-in;
  -o-transition: transform 0.25s ease-in;
  transition: transform 0.25s ease-in;
  transition: transform 0.25s ease-in, -webkit-transform 0.25s ease-in;
}
.social_media li:hover{
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.social_media li::after{
  display: block;
  content: " ";
  width: 100%;
  padding-top: 100%;
}

.social_media li img{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

.site_link{
  position: relative;
  top:0;
  left:0;
  width:75%;
  height: 100%;
  padding: 0;
  margin:0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site_link li{
  position: relative;
  top: 0;
  left: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 5%;
  margin-right: 5%;
  white-space: nowrap;
  text-align: center;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  
}
.site_link li span{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  white-space: nowrap;
  text-align: center;
}
.site_link li:hover:after{
  display: block;
  content: " ";
  width: 50%;
  height: 4px;
  margin-top: 10px;
  border-radius: 10px;
  position: absolute;
  top:100%;
  left:50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #06D6A0;
}

#cv_header_btn{
  padding: 10px;
  background-color: #073B4C;
  white-space: nowrap;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}
#cv_header_btn:hover:after{
  background-color: #ffffff;
}

/* for header in mobile size */


@media only screen and (max-width:650px){
  .social_media{
    display: none;
  }
  .site_link{
    width: 100%;
  }
  #cv_header_btn{
    display: none;
  }
  .bg_left{
    display: none;
  }
  .bg_right{
    width: 100%;
  }
  .site_link li{
    font-size: 0.8rem;
  }
  .site_link li:after{
    display: block;
    content: " ";
    width: 50%;
    height: 4px;
    margin-top: 10px;
    border-radius: 10px;
    position: absolute;
    top:100%;
    left:50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #ffffff;
  }
}


.profile{
  position: relative;
  top: 0;
  left:0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.profile_div{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 5%;
  max-height: 600px;
}
.profile_pic{
  position: relative;
  top: 0;
  left: 0;
  width: 40%;
  max-width: 556px;
}
.profile_pic::after{
  display: block;
  content: " ";
  width: 100%;
  padding-top: 108.3%;
}
.profile_pic img{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  /* height: 100%; */
}

.profile_bio{
  position: relative;
  top:0;
  left:0;
  width: 60%;
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  margin-left: 4%;
}
.profile_bio p{
  margin:0;
}
.profile_bio h2{
  margin-bottom:8px;
}
.profile_bio h3{
  margin-top:0px;
  margin-bottom:30px;
}
.profile_bio p{
  margin-top:0px;
  margin-bottom:30px;
}

.profile_bio button{
  width: 250px;
  padding: 15px 0 15px 0;
  font-size: 0.8rem;
  border-radius: 5px;
  margin: 25px 0 25px 0;
  background-color: #073B4C;
  color: #ffffff;
  border: 1px solid #ececec;
  -webkit-transition: -webkit-transform 0.25s ease-in;
  transition: -webkit-transform 0.25s ease-in;
  -o-transition: transform 0.25s ease-in;
  transition: transform 0.25s ease-in;
  transition: transform 0.25s ease-in, -webkit-transform 0.25s ease-in;
}
.profile_bio button:hover{
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

@media only screen and (min-width:1494px){
  .profile_div{
    margin-left: 52.281px !important;
  }
}

.profile_div_m{
  display: none;
}

/* for small screens */

@media only screen and (max-width:650px){
  h2{
    color: #01523c !important;
  }
  h3{
    color: #02a77b !important;
  }
  
  .profile_div{
    display: none;
  }
  .profile_div_m{
    display: block;
    position: relative;
    top:0;
    left: 0;
    width: 100%;
    margin-top: 8%;
  }
  .profile_pic_social{
    position: relative;
    top:0;
    left:0;
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .background_m_profile{
    position: absolute;
    top:0%;
    left:0;
    width: 100%;
    height: 90%;
    background-color: #06D6A0;
    -webkit-transform: translateY(-15%);
        -ms-transform: translateY(-15%);
            transform: translateY(-15%);
  }
  .social_media_m{
    position: relative;
    top:0;
    left:0;
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .social_media_m ul{
    position: relative;
    top:0;
    left:0;
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    list-style-type: none;
    padding: 0;
    margin-left: 10%;
  }
  .social_media_m ul li {
    position: relative;
    top:0;
    left:0;
    width:24px;
    min-width: 20px;
    margin: 15% 0 15% 0;
  }
  .social_media_m ul li::after{
    display: block;
    content: ' ';
    width: 24px;
    padding-top: 100%;
  }
  .social_media_m ul li img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .profile_pic_m{
    position: relative;
    top:0;
    left:0;
    width:80%;
    max-width: 345px;
  }
  .profile_pic_m::after{
    display: block;
    content: ' ';
    width: 100%;
    padding-top: 109.09%;
  }
  .profile_pic_m img{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
  }
    
  .profile_bio{
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .profile_bio p{
    margin-bottom:5px;
  }

  .profile_bio button{
    margin: 25px 0 0 0;
  }
}

.work{
  position: relative;
  top:0;
  left:0;
  width:100%; 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.skills{
  position: relative;
  top: 0;
  left: 0;
  width: 25%;
  max-width: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.skills h2{
  font-size: 1.3rem;
  color: #ffffff;
  font-family:  'Roboto', sans-serif;
}

.skills_list{
  position: relative;
  top: 0;
  left:0;
  width: 97%;
  margin-left: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

.skills h3{
  font-size: 1.1rem;
  color: #ffffff;
  font-family:  'Roboto', sans-serif;
  margin-top: 20px;
  font-weight: 100;
}
.skill_perc_cont{
  position: relative;
  top:0;
  left:0;
  width:80%;
  box-shadow: -1px 3px 14px -5px rgba(0,0,0,0.75) inset;
  -webkit-box-shadow: -1px 3px 14px -5px rgba(0,0,0,0.75) inset;
  -moz-box-shadow: -1px 3px 14px -5px rgba(0,0,0,0.75) inset;
  height:10px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
}
.skill_perc{
  position: relative;
  top:0;
  left:0;
  background-color: #ececec;
  height: 100%;
  border-radius: 10px;
}
.p0{
  width: 0%;
}
.p10{
  width: 10%;
}
.p20{
  width: 20%;
}
.p30{
  width: 30%;
}
.p40{
  width: 40%;
}
.p50{
  width: 50%;
}
.p60{
  width: 60%;
}
.p70{
  width: 70%;
}
.p80{
  width: 80%;
}
.p90{
  width: 90%;
}
.p95{
  width: 95%;
}
.p100{
  width: 100%;
}

.exp_services{
  position: relative;
  top:0;
  left: 0;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.experience{
  position: relative;
  top:0;
  left:0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.experience h2{
  font-size: 1.3rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-decoration: underline;
}

.experience ul{
  position: relative;
  top:0;
  left:0;
  width:100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  list-style-type: none;
  margin:0;
  padding: 0;
}
.experience li{
  position: relative;
  top:0;
  left:0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dot_div{
  position: relative;
  top:0;
  left:0;
  width:15px;
  height: 15px;
  border-radius: 50%;
  background-color: #CFCFCF;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.line_div{
  position: relative;
  top:0;
  left:0;
  width: 15%;
  height: 2px;
  background-color: #073B4C;
  -webkit-transform: translateX(-7.5px);
      -ms-transform: translateX(-7.5px);
          transform: translateX(-7.5px);
  z-index: 1;
}

.info_div{
  position: relative;
  top:0;
  left:0;
  width:80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border: 2px solid #073B4C;
  border-radius: 20px;
  -webkit-transform: translateX(-7.5px);
      -ms-transform: translateX(-7.5px);
          transform: translateX(-7.5px);
  margin-bottom: 40px;
  z-index: 2;
  background-color: #ffffff;
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
}
@media only screen and (min-width:650px){
  .info_div{
    margin-left: -15%;
  }
}
.info_highlight{
  position: relative;
  top:0;
  left:0;
  width:30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_highlight p{
  position: relative;
  top:0;
  left:0;
  width: 100%;
  margin: 2px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
}

.info_breif{
  position: relative;
  top:0;
  left:0;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info_breif p:first-child{
  position: relative;
  top:0;
  left:0;
  width: 100%;
  margin: 10px 10px 2px 2px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  text-align: start;
}

.info_breif p{
  position: relative;
  top:0;
  left:0;
  width: 100%;
  margin: 2px 10px 2px 2px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 0.7rem;
  text-align: start;
}

.info_breif button{
  border-radius: 5px;
  border: none;
  color: #ffffff;
  background-color: #073B4C;
  margin: 5px;
  padding: 5px 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 0.7rem;
  text-align: center;
}
.arrow-left{
  display:none;
}
.arrow-right{
  display: none;
}


/* for large screens */
@media only screen and (min-width:1494px){
  .profile_div{
    margin-left: 52.281px !important;
  }
}

/* for small screens */

@media only screen and (max-width:650px){
  .skills{
    display: none;
  }
  .exp_services{
    width: 100%;
  }
  .experience{
    position: relative;
    top:0;
    left:0;
    width:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
    overflow: hidden;
  }
  .experience h2{
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-decoration: underline;
  }
  .experience ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: visible;
    -webkit-transition: -webkit-transform 0.7s ease-out;
    transition: -webkit-transform 0.7s ease-out;
    -o-transition: transform 0.7s ease-out;
    transition: transform 0.7s ease-out;
    transition: transform 0.7s ease-out, -webkit-transform 0.7s ease-out;
  }
  .experience li{
    width: 90%;
    margin: 5%;
    min-width: 90%;
  }
  .dot_div{
    display: none;
  }
  .line_div{
    display: none;
  }
  .info_div{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
  .info_highlight{
    margin-top: 15px;
    width:100%;
  }
  .info_breif{
    margin-bottom: 15px;
  }
  .arrow-left{
    display: block;
    position: absolute;
    top:50%;
    left: 0;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 40px;
    height: 40px;
    margin-left: 5px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 2;
  }
  .arrow-left img{
    position: relative;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
    -webkit-transform: rotateZ(180deg) ;
        -ms-transform: rotate(180deg);
            transform: rotateZ(180deg) ;
  }
  .arrow-right{
    display: block;
    position: absolute;
    top:50%;
    left: 100%;
    -webkit-transform: translateY(-50%) translateX(-115%);
        -ms-transform: translateY(-50%) translateX(-115%);
            transform: translateY(-50%) translateX(-115%);
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #ffffff;
    z-index: 2;
  }
  .arrow-right img{
    position: relative;
    top:0;
    left: 0;
    width:100%;
    height: 100%;
  }
}

.services{
  position: relative;
  top:0;
  left:0;
  width:100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.services h2{
  font-size: 1.3rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-decoration: underline;
}
.services_1{
  position: relative;
  top:0;
  left:0;
  width:100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.services_1 ul{
  position: relative;
  top:0;
  left:0;
  width:100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}

.services_1 li{
  position: relative;
  top:0;
  left:0;
  width: 30%;
  margin:1%;
  padding-bottom: 5%;
  border: 2px solid #073B4C;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  -webkit-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  transition: all 1s ease-out;
  box-shadow: -17px 21px 10px -20px rgba(0,0,0,0.75);
  -webkit-box-shadow: -17px 21px 10px -20px rgba(0,0,0,0.75);
  -moz-box-shadow: -17px 21px 10px -20px rgba(0,0,0,0.75);
}

.card_img{
  position: relative;
  top:0;
  left:0;
  width:90%;
  margin: 5%;
}
.card_img::after{
  display: block;
  content: " ";
  width: 100%;
  padding-top: 83.8%;
}
.card_img img{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.services_1 h3{
  margin-top:0 ;
  margin-bottom: 20px;
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-decoration: underline;
}

.price_info{
  font-size: 0.6rem !important;
  font-weight: 300 !important;
}
.price_info span{
  font-size: 0.7rem !important;
  font-weight: 500 !important;
}

.services_1 p{
  margin: 0 15px 10px 15px;
  font-size: 0.8rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  width: 80%;
}

.price_amt{
  font-size: 0.6rem !important;
  font-weight: 500 !important;
  text-align: center !important;
}
.price_amt span{
  font-size: 1rem !important;
  font-weight: 500 !important;
  color: #29C842;
}

.services_1 li button{
  position: absolute;
  top:100%;
  left:0;
  width:100%;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  background-color: #3D405B;
  color: #ffffff;
  border: none;
  padding: 1.5%;
  text-decoration: underline;
}

@media only screen and (max-width:650px){
  .services_1 ul{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
  .services_1 li{
    margin: 5%;
    width: 90%;
  }
}

.contact_me{
  position: relative;
  top:0;
  left:0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}
.contact_me h2{
  font-size: 1.3rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-decoration: underline;
  margin: 10px 0 10px 0 ;

}
.contact_me p{
  position: relative;
  top: 0;
  left:0;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 10px;
}
.contact_div{
  position: relative;
  top:0;
  left:0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.contact_social{
  position: relative;
  top:0;
  left:0;
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  
}
.contact_social h3{
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-decoration: underline;
  margin: 10px 0 10px 0 ;
}
.contact_icons_div{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact_icons{
  position: relative;
  top: 0;
  left: 0;
  width: 60%;
  height: 30px;
  border: 2px solid #073B4C;
  border-radius: 10px;
  margin-top: 5%;
}
.social_media_c{
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.contact_email{
  position: relative;
  top:0;
  left:0;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  
}
.contact_email h3{
  font-size: 1.1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-decoration: underline;
  margin: 10px 0 10px 0 ;
}
.contact_email p{
  position: relative;
  top: 0;
  left:0;
  width: 100%;
  text-align: center;
  font-size: 0.9rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 10px;
}
.contact_email_div{
  position: relative;
  top: 0;
  left:0;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  border: 1px solid #6C6C6C;
  border-radius: 15px;
  padding: 8%;
  
}
.contact_email_div h3{
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-decoration: underline;
  margin: 2px 0 2px 0 ;
}
.contact_email_div p{
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  text-decoration: underline;
  margin: 2px 0 2px 0 ;
  text-align: start;
}
.contact_email_div input{
  position: relative;
  top: 0;
  left:0;
  width: 100%;
  font-size: 1.1rem;
  border-radius: 3px;
  border: 1px solid #6C6C6C
}
.contact_email_div textarea{
  position: relative;
  top: 0;
  left:0;
  width: 100%;
  font-size: 1.1rem;
  border-radius: 3px;
  border: 1px solid #6C6C6C
}
.contact_email_div button{
  position: relative;
  top: 0;
  left:0;
  width: 50%;
  font-size: 0.9rem;
  border-radius: 3px;
  background-color: #6C6C6C;
  border:none;
  margin-top: 20px;
  color: #ffffff;
}
@media only screen and (max-width:650px){
  .contact_div{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact_social{
    width: 100%;
  }
  .contact_email{
    width: 100%;
  }
} 

.success{
  display: none;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.email_bg{
  position: absolute;
  top:0;
  left: 0;
  width:100%;
  height: 100%;
  background-color: #3D405B;
  opacity: 0.5;
}
.email_msg{
  position: absolute;
  top:50%;
  left:50%;
  width:40%;
  height:40%;
  background-color: #ffffff;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.email_close{
  position: relative !important;
  top:0 !important;
  left:0 !important;
  width:30px !important;
  height:30px !important;
  margin-bottom: 0px !important;
}
.email_msg img{
  position: relative;
  top:0;
  left:0;
  width:100%;
  height:50%;
  margin-bottom: 15px;
}
.email_msg p {
  position: relative;
  top:0;
  left:0;
  width:100%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 0.8rem;
  margin: 0;
  color:#000000;
}

.error{
  display: none;
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width:650px){
  .email_msg{
    width: 100%;
    color: #ffffff;
  }
}